@use "/src/assets/global";
.Hero {
  @apply h-[50vh]  sm:h-[80vh] overflow-hidden sticky top-0 -z-0;
  .Hero-carousel {
    @apply w-full h-full relative overflow-x-auto;
    @apply grid grid-flow-col grid-rows-1 gap-4;

    &::-webkit-scrollbar {
      @apply hidden;
    }
    .Box-1,
    .Box-2 {
      @apply w-screen h-full relative flex flex-col items-start justify-end py-4;
      img {
        @apply w-full h-full object-cover absolute top-0 left-0 -z-10;
      }
      h2 {
        @apply absolute left-8 bottom-16;
        font-family: CaslonGraphique;
        font-weight: normal;
        font-size: 40px;
        text-align: left;
        color: #fff;
      }
      p {
        @apply absolute left-8 bottom-8;

        font-family: CaslonGraphique;
        font-weight: normal;
        font-size: 20px;
        text-align: left;
        color: rgb(82, 69, 50);
        text-shadow: 0px 3px 6px rgba(255, 255, 255, 0.6);
        background: linear-gradient(#6e5c43, #6e5c43);
        background-size: 20% 7%;
        background-repeat: no-repeat;
        background-position: bottom left;
      }
    }
  }

  .Hero-control {
    @apply w-screen absolute left-0 top-1/2 -translate-y-1/2 flex justify-between px-4;
    z-index: 2000;
    button {
      @apply rounded-full bg-[rgba(0,0,0,0.5)] flex justify-center items-center;
      @apply text-3xl text-white p-2 border-2 border-white cursor-pointer;
    }
  }
}
