@use "/src/assets/global";
.Header {
  @include global.paddingInline();
  @apply flex flex-col duration-300 relative gap-5 py-4;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.58);

  .Header-top {
    @apply flex flex-col sm:flex-row sm:flex-wrap items-start gap-4;
    img {
      @apply w-20 sm:w-32 duration-300;
    }

    .Header-title {
      @apply flex flex-col gap-4 sm:gap-2 items-start opacity-100 duration-300;
      h1 {
        @apply text-[30px] sm:text-[39px] leading-[40px] py-2;
        background: linear-gradient(#6e5c43, #6e5c43);
        background-size: 20% 7%;
        background-repeat: no-repeat;
        background-position: bottom left;
        // -webkit-background-clip: text;
        font-family: CaslonGraphique;
        font-weight: normal;
        text-align: left;
        color: #6e5c43;
      }
      p {
        font-family: "MB Picture House One";
        font-weight: normal;
        font-size: 19px;
        text-align: left;
        color: #959595;
      }
    }
    .Header-menu {
      @apply hidden sm:flex sm:flex-col items-end  gap-4 lg:ml-auto lg:w-auto w-screen;
      .Header-menu-top {
        @apply flex items-center gap-4;
        div {
          @apply flex items-center gap-2;
          &:nth-child(2) {
            @apply border-l-[1px] border-r-[1px] border-gray-400;
            padding: 0 10px;
          }
        }
      }
      .Header-menu-bottom {
        height: 39px;
        border-radius: 4px;
        background: #f5f5f5;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        padding: 10px 20px;
        @apply lg:w-[425px] sm:w-full flex items-center gap-4;
        input {
          @apply w-full;
          background: none;
          border: none;
          outline: none;
          font-family: Lato;
          font-weight: 300;
          font-size: 16px;
          text-align: left;
          color: #272727;
        }
      }
    }
  }

  .Header-bottom {
    @apply hidden sm:flex flex-wrap gap-y-4 justify-around;
    li {
      @apply flex items-center gap-4 px-4 py-2;
      font-family: "MB Picture House One";
      font-weight: bold;
      font-size: 16px;
      text-align: left;
      color: #000;
      &.active {
        @apply border-[2px] border-[#6E5C43] text-[#6E5C43];
      }
    }
  }
  .Header-mobile {
    @apply absolute right-4 w-full flex justify-end  sm:hidden;
    z-index: 100000;
    .Header-mobile-content {
      @apply bg-white h-fit p-4 w-[90%] absolute right-0 translate-y-10  flex-col gap-4 border-[1px] rounded-sm;
      li {
        @apply flex items-center gap-4;
        font-family: "MB Picture House One";
        font-weight: bold;
        font-size: 22px;
        text-align: left;
        color: #000;

        .icon {
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
        }
        p {
          font-family: Lato;
          font-weight: normal;
          font-size: 20px;
          text-align: left;
          color: #000;
        }
      }
    }
  }
  .mobile-search-input {
    @apply flex items-center gap-4 sm:hidden;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    max-width: 400px;
    input {
      @apply w-full;
      border: none;
      outline: none;
      font-family: Lato;
      font-weight: normal;
      font-size: 20px;
      text-align: left;
      color: #000;
    }
  }

  &.stick {
    @apply sticky flex-row top-0 z-50;
    .Header-top {
      img {
        @apply w-16 sm:w-20;
      }
    }
    .Header-title {
      @apply absolute left-44 opacity-0;
    }

    .Header-menu {
      @apply absolute top-0 opacity-0;
    }

    .Header-bottom {
      @apply w-full items-center;
      li {
        @apply px-5;
        font-size: 14px;
      }
    }

    .mobile-search-input {
      @apply w-[60%] z-50;
      padding: 0px 10px;
    }
  }
}
