.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  &:-webkit-scrollbar {
    display: none;
  }
  & > * {
    scroll-snap-align: start;
  }
}

// html {
//   overflow-x: hidden;
//   &:-webkit-scrollbar {
//     display: none;
//   }
// }
